<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>findSimilar</title>
</head>
<body>
<body>
    <div id = "selectFile">
        <form id="creatCollection" class="wrapper" action="/find"
        method="POST" enctype="multipart/form-data">
        <div class= "form-item">

            <div class="form-item-attribute">
                <label>Select File:</label>
            </div>
            <div class="form-item-value">
                <input type="file" name="imagefile" id="find_image" />
            </div>
            <div class="form-item-value">
                <lable>(Maximum File size is 2MB)</lable>
            </div>

            <input type=submit value=Query>
        </div>
        </form>
        <!--button id="upload">upload</button-->
    </div>
    </div>
</body>
</body>
</html>