<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpeechToText</title>
</head>
<body>
    <div id = "selectFile">
        <form id="uploadFile" class="wrapper" action=""
        method="POST" enctype="multipart/form-data">
        <div class= "form-item">
            <div class="form-item-attribute">
                <label>Audio File:</label>
            </div>
            <div class="form-item-value">
                <input type="file" name="file" id="fileupload_input" />
            </div>
            <div class="form-item-value">
                <lable>(Maximum File size is 4MB)</lable>
            </div>
            <input type=submit value=upload>
        </div>
        </form>
        <!--button id="upload">upload</button-->
    </div>
    </div>
</body>
</html>